* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* layout pagina */
.centered {
    width: 1000px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin: auto;
    padding-bottom: 60px;
    margin-bottom: 30px;
}
/* /layout pagina */



/* header */
.navbar {
    background-color: #ff6900;
    height: 50px;
    margin-bottom: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
    
}

.nav-centered {
    width: 1000px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 30px;
}

.nav-btn {
    color: white;
}
/* /header */



/* main body */
.card {
    position: relative;

    width: 300px;
    height: 500px;
}

.img-no-hover {
    width: 300px;
    height: 500px;
}

.img-hover{
    display: none;

    position: absolute;
    top: 0px;
    left: 0px;

    width: 300px;
    height: 500px;
}

.card:hover .img-hover {
    display: inline-block;
}
/* /main body */


/* simboli */
.heart {
    position: absolute;
    right: 0px;
    top: 0px;

    width: 40px;
    height: 40px;
    background-color: white;

    line-height: 40px;
    text-align: center;
    font-size: 1.5em;
}

                                /* bonus */
.bonus {
    position: absolute;
    right: 0px;
    top: 10px;

    width: 40px;
    height: 40px;
}

.heart-red {
    display: none;

    position: absolute;
    right: 0px;
    top: 0px;

    width: 40px;
    height: 40px;
    background-color: white;
    color: red;

    line-height: 40px;
    text-align: center;
    font-size: 1.5em;
}

.bonus:hover .heart-red {
    display: inline-block;
}

                                /* bonus */

.sconti {
    position: absolute;
    left: 0px;
    bottom: 30px;

    display: flex;
    flex-direction: row;
    gap: 3px;
}

.sale {   
    width: 40px;
    height: 20px;
    background-color: red;

    color: white;
    line-height: 20px;
    text-align: center;
    font-size: 1em;
}

.sust {
    width: 100px;
    height: 20px;
    background-color: #008000;

    color: white;
    line-height: 20px;
    text-align: center;
    font-size: 1em;
}
/* /simboli */

/* scritte e prezzi */
.brand {
    color: gray;
    font-size: 0.8em;
}

.item {
    font-weight: bold;
}

.price {
    color: red;
}

span {
    color: black;
    text-decoration: line-through;
}
/* /scritte e prezzi */


